/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #333;
}

.footer p {
    text-align: center;
    color: #ffffff;
}

.navbar.navbar-default.navbar-fixed-top {
    background-color: #333;
}

.navbar-header a, .nav.navbar-nav li a {
    color: #ffffff !important;
}

.nav.navbar-nav li a:hover {
    color: #777777 !important;
}

.container .page-header h1 {
    text-align: center;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
    padding: 60px 15px 0;
}

.container .text-muted {
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}